<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Node Test</title>
</head>
<body>
    <h1>Node Ejs Test Page : <%= name %></h1>     
    <div><img src="/images/Ace.jpg" alt=""></div>
</body>
</html>